button {
    background: transparent;
    border-width: 0px;
}

.playbackButton {
    padding: 4px;
}

.nameText {
    font-size: 16px;
    color: white;
}

.descriptionText {
    font-size: 16px;
    color: gray;
}

scale trough {
    background-color: black;
    border-radius: 10px;
    border-color: black;
}

scale highlight {
    background-color: lightgray;
}

scale slider {
    background: lightgray;
}

popover arrow {
    background-color: #181A1F;
}

popover contents {
    color: white;
    background-color: #181A1F;
}

.positionScale trough {
    min-height: 5px;
}

dropdown popover {
    background-color: transparent;
    border-radius: 10px;
}

dropdown popover contents box scrolledwindow listview {
    background-color: #181A1F;
    border-radius: 0px;
}

dropdown popover contents box scrolledwindow row {
    background-color: #181A1F;
    background-color: #181A1F;
    padding-top: 1px;
    padding-bottom: 1px;
}

.upperBox {
    background: #181A1F;
}

.lowerBox {
    background: #181A1F;
}

.trackWidget {
    color: gray;
    background: #23242A;
}

.trackWidget:hover {
    color: #7a59a7;
}

.trackWidget-selected {
    color: white;
    background: #23242A;
}

.boxSeparator {
    min-height: 10px;
    background: #181A1F;
    background: linear-gradient(0deg, rgba(24,26,31,1) 0%, rgba(40,42,48,1) 70%);
}